.calculator {
  width: 240px;
  margin: 50px auto;
  padding: 20px;
  border: 10px solid #646cff;
  border-radius: 10px;
}

.display {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.display input {
  padding: 10px;
  font-size: 20px;
  text-align: right;
  border: none;
  border-bottom: 3px solid #646cff;
}

.result {
  text-align: right;
  font-size: 20px;
  margin-top: 5px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
}

button {
  background-color: #f0f0f0;
  padding: 10px;
  font-size: 18px;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
}

button:hover {
  background-color: #ddd;
}
